/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Pokemon-Pixel-Font";
  src: url("/assets/fonts/pokemonpixelfont.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/pokemonpixelfont.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/pokemonpixelfont.otf") format("opentype"),
    /* Open Type Font */ url("/assets/fonts/pokemonpixelfont.svg") format("svg"),
    /* Legacy iOS */ url("/assets/fonts/pokemonpixelfont.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/assets/fonts/pokemonpixelfont.woff")
      format("woff"),
    /* Modern Browsers */ url("/assets/fonts/pokemonpixelfont.woff2")
      format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-gray;
}
